


p{
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  
}


.flex-container {
  display: flex;
  justify-content:center;

  flex-wrap: nowrap;
  background-color: yellowgreen;
   width:60%;
  
  margin-left: 25%;
  
}
.flex-container > div {
  background-color: aliceblue;
 width: 100px;
  height :75px;
  margin: 4px;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
}